# All frontend environment variables must start with VITE_.
VITE_PLATFORM_APPLICATION_NAME=Thoughtless

VITE_MICROSERVICE_EXAMPLE=microservice

VITE_MICROSERVICE_MIN_CONTENT_LENGTH=3
VITE_MICROSERVICE_MAX_CONTENT_LENGTH=1000
VITE_MICROSERVICE_LIFETIME_DAYS=7
VITE_MICROSERVICE_WARNING_INTERVAL_DAYS=1
VITE_MICROSERVICE_THOUGHT_MAX_ACTIVE=15
VITE_MICROSERVICE_MAX_DISCARDED=5
