.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# local .env files
.env
.env.*
!.env.example

# Launcher icons (PNG only)
src-capacitor/android/app/src/main/res/mipmap-*/ic_launcher*.png
src-capacitor/android/app/src/main/res/mipmap-*/ic_launcher_foreground.png
src-capacitor/android/app/src/main/res/mipmap-*/ic_launcher_round.png

# Splash screens (PNG only)
src-capacitor/android/app/src/main/res/drawable*/splash.png

src-capacitor/ios/App/App/Assets.xcassets/AppIcon.appiconset/*
src-capacitor/ios/App/App/Assets.xcassets/Splash.imageset/*